.container { 
    width: 300px;
    height: 200px;
    border: 10px solid black;
    padding: 30px;
    margin: 20px;
    background-color: bisque;
    text-align: center;
}
.laatikko { 
    width: 300px;
    height: 200px;
    border: 10px solid black;
    padding: 30px;
    margin: 20px;
    background-color: bisque;
    text-align: center;
}
.loota { 
    width: 300px;
    height: 550px;
    border: 10px solid black;
    padding: 30px;
    margin: 20px;
    position: absolute;
    left: 450px;
    top: 145px;
    background-color: bisque;
    text-align: center;
}
.joku {
    width: 1810px;
    height: 120px;
    border: 10px solid black;
    text-align: center;
    background-color: bisque;

}